.form{
border: 1px solid gray;
border-radius: 2px;
padding: 0 20px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title{
    text-align: center;
    width: 100%;
    margin: 20px 0px;
}

.inputs{
    margin:7px 0px ;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.text-inputs{
    width: 30%;
} 

input{
    width: 70%;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid gray;
    
}

.range{
    padding: 0;
    background-color: brown !important;
}

label{
    width: 25%;
}

.buttons{
    margin: 30px 0px 10px 0px;
    text-align: center;
    width: 100%;
    
}

button{
    border-radius: 3px;
    padding: 8px 15px 8px 5px;
    margin:0px 5px;
    background-color: rgb(114, 98, 254) ;
    border: 0;
    color: white;
}

.input-icon {
    position: absolute;
    height: 20px;
    left: 145px;
    top:-5%;
    transform: translateY(-50%);
    color: grey ;
}